replicaCount: 2

image:
  repository: ghcr.io/gluk0/website
  pullPolicy: Always
  tag: "0.1.1"

imagePullSecrets:
  - name: ghcr-secret
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  fsGroup: 1000

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: false

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: "selfsigned-issuer"
  hosts:
    - host: site.homelab.local
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: website-tls
      hosts:
        - site.homelab.local

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

cloudflared:
  enabled: false
  image:
    repository: cloudflare/cloudflared
    tag: "latest"
    pullPolicy: IfNotPresent
  tunnel:
    token: ""
    existingSecret: ""
    existingSecretKey: "token"
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi
